/*colors: 
#194569
#5f84a2
#91aec4
#b7d0e1
#cadeed
#d8ecf4
------------------------------------------------*/
*{
    box-sizing: border-box;
}
@keyframes reveal {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(images/ondas.jpg);
    background-attachment: fixed;
}

/*---------------navbar---------------*/
.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    height: 100px;
    position: fixed;
    top: 0;
    background-color: #194569;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
.navbar span{
    display: none;
}

.lista-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.itemnav,
.itemnav a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    font-weight: bold;
}

.itemnav:hover a {
    background-color: #5f84a2;
    color: #000;
    border-radius: 10px;
}

.navbar li {
    margin: 10px 15px;
}

.navbar img {
    padding: 10px;
    width: 100px;
    border-radius: 50%;
}

/*--------------------inicio----------------*/
.inicio {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #cadeedb4;
    overflow: hidden;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.inicio-img {
    width: 50%;
    height: 500px;
    background-color: #ffffff85;
    border-top-right-radius: 350px;
    border-bottom-right-radius: 350px;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.img-ini {
    margin-top: 150px;
    margin-left: 100px;
    width: 275px;
    border-radius: 50%;
}

.inicio-h1 {
    font-size: 30px;
    margin-right: 25px;
    text-shadow: 5px 5px #fff;
    padding-left: 150px;
    margin-top: -100px;
}

/*----------------Sobre mim-------------------*/
.sobre {
    height: 200px;
    background-color: #194569ad;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobre h2,
.sobre p {
    max-width: 50%;
    color: #fff;
}

.sobre h2 {
    font-size: 35px;
}

.sobre p {
    font-size: 24px;
    font-weight: 500;
}

/*-----------------projetos----------------*/
/* .projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: #b7d0e1bd;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.item-proj {
    width: 300px;
    height: 100px;
} */

/*-------------------conhecimentos-----------------*/
.conhecimentos {
    width: 100%;
    height: 300px;
    background-color: #cadeeda8;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    display: grid;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.conhecimentos-item {
    background-color: rgba(255, 255, 255, 0.541);
    display: grid;
    align-items: center;
    justify-items: center;
    width: 275px;
    height: 200px;
    margin: 30px;
    border-radius: 20px;
    object-fit: 1;
    padding-top: 5px;
    text-align: center;
}

.conhecimentos-item img {
    width: 50px;
}

.conhecimentos-item:hover {
    cursor: pointer;
    scale: 1.4;
    transition: 0.5s;
}

/*--------------contato-----------------*/
.contato {
    width: 100%;
    height: 500px;
    background-color: #194569ad;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contato a {
    text-decoration: none;
    color: #000;
}

.contato a:hover {
    background-color: #194569;
    color: #fff;
}
/* ------------------botao wpp---------------------- */
.msg-wpp{
    position: fixed;
    right: 25px;
    bottom: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.msg-wpp img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.msg-wpp:hover{
    scale: 1.5;
    transition: 0.5s;
}
/* ----------------responsive-------------- */
@media only screen and (max-width: 900px){
    /* -------------------navbar-------------------- */
    .itemnav a {
        font-size: 18px;
    }
    /* -----------------inicio--------------------- */
    .inicio-h1 {
        font-size: 22px;
        margin-right: 12px;
        text-shadow: 2px 2px #fff;
    }
    /*----------------Sobre mim-------------------*/
    .sobre p{
        font-size: 18px;
    }
    /*-------------------conhecimentos-----------------*/
    .conhecimentos{
        max-width: 900px;
    }
    .cards{
        display: flex;
    }
    .conhecimentos-item{
        display: flex;
        width: 150px;
        height: 50px;
        font-size: 12px;
    }
    .conhecimentos-item img {
        width: 25px;
        border-radius: 5px;
    }
    /*--------------contato-----------------*/
    .contato{
        height: 220px;
        display: grid;
    }
}
@media only screen and (max-width: 600px) {
    /* -------------------navbar-------------------- */
    .navbar span{
        display: block;
    }
    /* .lista-navbar{
        padding-left: 300px;
    } */
    /* .itemnav {
        display: none;
    } */
    .imgnav{
        margin-left: 10px;
    }
    .icon-menu{
        right: 50px;
        border-radius: 10px;
    }
    #burguer{
        padding: 10px;
        cursor: pointer;
    }
    #burguer:hover{
        background-color: #5f84a2;
        color: #fff;
    }
    .itemnav{
        height: 30px;
        margin: 10px;
    }
    .itemnav a{
        font-size: 10px;
    }
    /* -----------------inicio--------------------- */
    .inicio{
        margin-top: 100px;
        height: 250px;
    }
    .inicio-img{
        height: 250px;
    }
    .img-ini{
        width: 100px;
        margin-top: 95px;
        margin-left: 50px;
    }
    .inicio-h1 {
        font-size: 16px;
        margin-right: 12px;
        text-shadow: 2px 2px #fff;
    }
    /*----------------Sobre mim-------------------*/
    .sobre h2{
        font-size: 20px;
    }
    .sobre p{
        font-size: 16px;
    }
    /*-------------------conhecimentos-----------------*/
    .conhecimentos{
        height: 500px;
    }
    .cards{
        display: grid;
    }
    .conhecimentos-item{
        display: flex;
        width: 150px;
        height: 50px;
    }
    .conhecimentos-item img {
        width: 30px;
        border-radius: 5px;
    }
    /*--------------contato-----------------*/
    .contato{
        height: 300px;
        display: grid;
    }
  }
/* 600, 800, 1024 */