/*colors: 
#194569
#5f84a2
#91aec4
#b7d0e1
#cadeed
#d8ecf4
------------------------------------------------*/
*{
    box-sizing: border-box;
}
@keyframes reveal {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(images/ondas.jpg);
    background-attachment: fixed;
}

/*---------------navbar---------------*/
.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    height: 100px;
    position: fixed;
    top: 0;
    background-color: #194569;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.lista-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.itemnav,
.itemnav a {
    font-size: 24px;
    color: #000;
    text-decoration: none;
    line-height: 30px;
}

.itemnav:hover a {
    background-color: #5f84a2;
    color: #fff;
    border-radius: 10px;
}

.navbar li {
    margin: 20px 30px;
}

.navbar img {
    width: 90px;
    border-radius: 50%;
}

/*--------------------inicio----------------*/
.inicio {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #cadeedb4;
    overflow: hidden;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.inicio-img {
    width: 50%;
    height: 500px;
    background-color: #ffffff85;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.img-ini {
    margin-top: 175px;
    margin-left: 100px;
    width: 200px;
    border-radius: 50%;
}

.inicio-h1 {
    font-size: 30px;
    margin-right: 25px;
    text-shadow: 5px 5px #fff;
}

/*----------------Sobre mim-------------------*/
.sobre {
    height: 200px;
    background-color: #5f84a2ad;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobre h2,
.sobre p {
    max-width: 50%;
}

.sobre h2 {
    font-size: 35px;
}

.sobre p {
    font-size: 24px;
    font-weight: 500;
}

/*-----------------projetos----------------*/
/* .projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: #b7d0e1bd;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.item-proj {
    width: 300px;
    height: 100px;
} */

/*-------------------conhecimentos-----------------*/
.conhecimentos {
    width: 100%;
    height: 500px;
    background-color: #cadeeda8;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    display: grid;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    align-items: center;
    width: 100%;
}

.conhecimetos-item {
    background-color: rgba(255, 255, 255, 0.541);
    display: grid;
    align-items: center;
    justify-items: center;
    width: 250px;
    height: 100px;
    margin: 30px;
    border-radius: 20px;
    object-fit: 1;
}

.conhecimetos-item img {
    width: 50px;
}

.conhecimetos-item:hover {
    cursor: pointer;
    scale: 1.4;
    transition: 0.5s;
}

/*--------------contato-----------------*/
.contato {
    width: 100%;
    height: 500px;
    background-color: #d8ecf4ad;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contato a {
    text-decoration: none;
    color: #000;
}

.contato a:hover {
    background-color: #194569;
    color: #fff;
}